.env

seccion3/3_1_sniffer_tshark/.conda
seccion3/3_2_sniffer_scapy/.conda
seccion3/3_3_sockets/.conda
seccion3/3_4_network_analyzer/.conda
seccion3/3_5_map_scanner/.conda

seccion4/4_1_beatiful_soup/.conda
seccion4/4_2_vulnerability_scanner/.conda
seccion4/4_3_nessus_scanner/.conda

seccion5/5_1_exploit_proftpd/.conda
seccion5/5_2_exploit_unrealircd/.conda
seccion5/5_4_http_reverse_shell/.conda
seccion5/5_6_metasploit_python/.conda
seccion5/5_7_keylogger/.conda

seccion6/.conda